
DB_NAME=ordermanagement
MODULE_PATH=src/modules
NODE_ENV=dev
LOGS_DIR

# App URLs
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3001



MONGO_URI=mongodb://localhost:27017/ordermanagement
